<html>
<head>

  <style>
  body{background-color:skyblue ;font-family: cursive;}
  </style>
</head>
<body>

  <a><ul><b>HEY! ENTER YOUR FILTERS</a>
  <form action="/" method="post">

  text<input type="radio" name="r1">
  Created_at<input type="radio" name="r2">
  favourite<input type="radio" name="r3">
  Retweet_Count<input type="radio" name="r4">
  User_Detail<input type="radio" name="r5">
  <input type="submit" value="submit">


  </form>

</body>
</html>
