<html>
<head>

  <style>
  body{background-color:skyblue ;font-family: cursive;}
  </style>
</head>
<body>
  <form action="/" method="post">
  Username: <input type="text" name="us "value="Mickey"><br>
  Tweet: <input type="text" name="tw" value="hello!"><br>
  text<input type="radio" name="r1">
  Created_at<input type="radio" name="r2">
  Retweet_Count<input type="radio" name="r3">
  User_Detail<input type="radio" name="r4">
  <input type="submit" value="submit">


  </form>

</body>
</html>
